*{padding: 0;}
h1 {
    text-align: center;
background-color:black;
color:white;
padding: 10px;
}
h2{
    font-size: 25px;
    font-weight: 700;
}
fieldset{background-color: blanchedalmond;
margin: 5px;
padding: 10px;
}
h3, h4{
    padding: 0px;
    margin: 5px;
}